.timer-container{
    margin-top: 20px;

    .timer{
        font-size:3rem;
        border: 2px solid;
        box-shadow: 1px 0px 6px 0px;
        color: #cbfb07;
        padding: 7px;
    }

    .red-color{
        color: #fb3507;
    }
}